<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>943370341925-ija6s0t9flepl24pt68o4cucr98jfe71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943370341925-ija6s0t9flepl24pt68o4cucr98jfe71</string>
	<key>API_KEY</key>
	<string>AIzaSyBDd0ySf6jdKx3x0rk4f6db8FMDDW_OGqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>943370341925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schneider.hackathon</string>
	<key>PROJECT_ID</key>
	<string>burger-app-2bc7c</string>
	<key>STORAGE_BUCKET</key>
	<string>burger-app-2bc7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943370341925:ios:1d76305611b5891a</string>
	<key>DATABASE_URL</key>
	<string>https://burger-app-2bc7c.firebaseio.com</string>
</dict>
</plist>